.image img{
    height: 275px;
}

.container{
    width: 530px;
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform .4s;
}

.container:hover{
    transform: scale(1.01);
}

.description{
    padding: 10px;
    padding-top: 0px;

}

.cardTitle{
    font-size: 27px;
    font-weight: 500;
}

.status span{
    display: flex;
    align-items: center;
}

.type{
    font-size: 14px;
    color: rgba(0, 0 , 0, 0.4);
}

.info{
    font-size: 18px;
    color: rgba(0, 0 , 0, 0.5);
}

.infoContent{
    font-size: 20px;
}

.infoContent:hover{
    color:#6EC325;
    transition-duration: 0.2s;
}