.image img{
    height: 17.1875rem !important;
}

.container{
    width: 530px;
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform .4s;
}

@media(max-width: 576px){
    .container{
        width: 275px;
        flex-direction: column;
    }
}

.container:hover{
    transform: scale(1.01);
}

.description{
    padding: 10px;
    padding-top: 0px;

}

.cardTitle{
    font-size: 1.6875rem !important;
    font-weight: 500;
}

.status span{
    display: flex;
    align-items: center;
}

.type{
    font-size: 0.875rem !important;
    color: rgba(0, 0 , 0, 0.4);
}

.info{
    font-size: 1.125rem !important;
    color: rgba(0, 0 , 0, 0.5);
}

.infoContent{
    font-size: 1.25rem !important;
}

.infoContent:hover{
    color:#6EC325;
    transition-duration: 0.2s;
}

.infoPopover{
    color: rgba(0,0,0 , 0.6);
    font-size: 1rem !important;
}